node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
allure-report/app.js
allure-report/favicon.ico
allure-report/index.html
allure-report/styles.css
allure-report/data/behaviors.csv
allure-report/data/behaviors.json
allure-report/data/categories.csv
allure-report/data/categories.json
allure-report/data/packages.json
allure-report/data/suites.csv
allure-report/data/suites.json
allure-report/data/timeline.json
allure-report/data/attachments/f792531aefb8a10f.txt
allure-report/data/test-cases/c3583f188a6904a4.json
allure-report/export/influxDbData.txt
allure-report/export/mail.html
allure-report/export/prometheusData.txt
allure-report/history/categories-trend.json
allure-report/history/duration-trend.json
allure-report/history/history-trend.json
allure-report/history/history.json
allure-report/history/retry-trend.json
allure-report/plugin/behaviors/index.js
allure-report/plugin/custom-logo/custom-logo.svg
allure-report/plugin/custom-logo/SafewayCustomImage.png
allure-report/plugin/custom-logo/styles.css
allure-report/plugin/packages/index.js
allure-report/plugin/screen-diff/index.js
allure-report/plugin/screen-diff/styles.css
allure-report/widgets/behaviors.json
allure-report/widgets/categories-trend.json
allure-report/widgets/categories.json
allure-report/widgets/duration-trend.json
allure-report/widgets/duration.json
allure-report/widgets/environment.json
allure-report/widgets/executors.json
allure-report/widgets/history-trend.json
allure-report/widgets/launch.json
allure-report/widgets/retry-trend.json
allure-report/widgets/severity.json
allure-report/widgets/status-chart.json
allure-report/widgets/suites.json
allure-report/widgets/summary.json
allure-results/1c342669-0409-4f15-9646-ddc39168b045-result.json
allure-results/21e5c80b-c9b8-40e6-b579-aa663388606c-attachment.txt
